@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-weight: bolder;
}

.container-fluid-custom {
  width: 1368px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*navbar*/

.navbar-custom {
  z-index: 1;
  background-color: rgba(35, 41, 45, 0);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  color: white;
  transition: all 0.3s ease;
}

.navbar-black {
  background-color: rgb(35, 41, 45);
}

.navbar-custom a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.navbar-social {
  font-weight: lighter;
}

.navbar-custom i {
  color: white;
  font-size: 2em;
}

.navbar-custom ul {
  padding-top: 10px;
}

.navigation-items a {
  padding: 0 20px;
  transition: all 0.3s ease;
}

.navigation-items a:hover {
  padding-top: 30px;
  padding-bottom: 26px;
/*  border-top: 5px solid white;*/
  background-color: white;
  color: rgb(35, 41, 45);
}

/*banner*/

.banner {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1543695562-639b86089122?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4ad6236335463011ff1f89f483d5e338&auto=format&fit=crop&w=3367&q=80');
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  filter: grayscale(50%);
  background-attachment: fixed;
}

.banner-content h1 {
  color: white;
}

.banner-content h3 {
  color: rgba(255, 255, 255, 0.7);
}

/*about*/

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 150px;
  text-align: justify;
}

.about h3 {
  /*font-weight: bolder;*/
  color: rgb(35, 41, 45);
}

.about p {
  font-size: 1.2em;
  color: rgb(35, 41, 45);
}

.about img {
  height: 300px;
  width: 300px;
  margin-left: 50px;
  filter: grayscale(15%);
}

/*projects*/

.projects {
  margin-top: 100px;
  margin-bottom: 100px;
}


.project-description span a {
  color: white;
  padding-top: 3px;
  padding-right: 5px;
  font-size: 1.4em;
  text-decoration: none;
}

.card {
  padding-left: 500px;
  padding-top: 40px;
  border-top: 1px dotted rgba(35, 41, 45, 0.3);
  margin-top: 80px;
  transition: all 0.4s ease;
  transform: scale(0.9);
}

.card-alt {
  /*padding-top: 40px;*/
  border-top: 1px dotted rgba(35, 41, 45, 0.3);
  /*margin-top: 40px;*/
  transition: all 0.4s ease;
  transform: scale(0.9);
/*  display: flex;
  justify-content: center;*/
}

.card-wrapper {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(35, 41, 45);
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 400px;
  margin-top: 100px;
  left: 50%;
}

.project-image {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.project-image-alt {
  height: 335px;
  width: 650px;
  background-size: cover;
  background-position: top;
  border-radius: 3px;
}

.card-text {
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.card-text-left {
  height: 300px;
  width: 50%;
  padding-left: 40px;
  /*padding-right: 40px;*/
  display: flex;
  align-items: center;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.contrast {
  background-color: red;
}

.card-grow {
  padding-left: 0px;
  transform: scale(1);
}

/*skills*/

.skills {
  margin-top: 60px;
  transition: all 0.6s ease;
  text-align: justify;
}

.skills-up {
  padding-top: 170px;
}

.skill-content {
  /*display: flex;*/
}

.skills-category {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 165px;
}

.skills-element {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.skills-element img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/*contact*/

.contact {
  margin-top: 100px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-content i {
  font-size: 2em;
  padding: 5px;
  color: rgb(35, 41, 45);
  transition: all 0.2s ease;
}

.contact-content i:hover {
  transform: scale(1.07);
}

/*footer*/

.footer {
  background-color: rgb(35, 41, 45);
  margin-top: 80px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*smallscrean*/

@media screen and (max-width: 991px) {
  .banner {
    width: 100vw;
    height: 50vh;
  }

  .container-fluid-custom {
    width: 100%;
  }

  .project-description {
    display: none;
  }

  .project-image-alt {
    height: 330px;
    width: 770px;
    background-size: cover;
    background-position: top;
    border-radius: 3px;
  }

  .about {
    flex-direction: column-reverse;
  }

  .card-alt {
    /*padding-top: 40px;*/
    width: 1600px !important;
    border-top: 1px dotted rgba(35, 41, 45, 0.3);
    margin-top: 40px;
    transition: all 0.4s ease;
    transform: scale(0.9);
  }

  .card-text-left {
    display: none;
  }

  .card-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }

/*  .project-image-alt {
    width: 100%;
  }*/
}

