@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
}

.text-center {
  text-align: center;
}

.logo {
  margin-left: 10px;
  font-size: 2.5em;
}

.logo:hover {
  color: rgb(88, 153, 226);
}

.main-title {
  margin-top: 150px;
}

.navbar-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-btn {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  height: 100%;
  padding: 0px 10px;
  font-weight: bold;
  cursor: pointer;
}

.nav-btn {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding: 15px;
}

.nav-btn:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(88, 153, 226);
  width: 0;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    transition: 0.5s cubic-bezier(0.45, -0.55, 0.265, 1.55) all;
}

.nav-btn:hover {
  color: rgb(88, 153, 226);
}

.nav-btn:hover:after {
  width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  color: rgb(144, 144, 144);
}


.social-link {
  font-size: 2em;
  margin: 5px 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.malt-logo {
  filter: grayscale(100%);
  margin-bottom: 0px;
}

.malt-logo:hover {
  filter: grayscale(0%);
}

.gh-link a {
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  padding: 15px 25px;
  transition: all 0.4s ease;
}

.social-link:hover {
  color: rgb(88, 153, 226);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 250px;
}

.avatar {
  margin-top: 50px;
  margin-bottom: 75px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(20, 20, 20, 0.3);
}

.break {
  height: 2px;
}

.skills-section {
  box-shadow: 0px 1px 5px rgba(20, 20, 20, 0.3);
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  filter: grayscale(100%);
  color: rgb(105, 105, 105);
  background-blend-mode: darken, luminosity;
}

.skill img {
  height: 65px;
}

.work-container {
  margin-bottom: 100px;
}

.work {
  margin-top: 180px;
  text-align: justify;
}

.work-desc {
  margin-bottom: 20px;
}

.work-img {
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(20, 20, 20, 0.3);
}

.tech strong {
  color: rgb(88, 153, 226);
}

.contact-btn {
  background-color: rgb(88, 153, 226);
  height: 300px;
  width: 300px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-btn h1 {
  color: white;
}

.contact-form {
  margin-top: 150px;
}

.footer-custom {
  margin-top: -150px;
}

.control {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 15px 25px;
  color: white;
  font-weight: bold;
  background-color: rgb(88, 153, 226);
  transition: all 0.4s ease;
}

.control button:hover {
  background-color: rgba(88, 153, 226, 0.5);
}


/*HOVER EFFETC*/

figure.effect-goliath {
  background-color: rgb(88, 153, 226);
}

figure.effect-goliath img,
figure.effect-goliath h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-goliath img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-goliath h2,
figure.effect-goliath p {
  position: absolute;
  bottom: -5px;
  left: 0;
  padding: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

figure.effect-goliath h2 {
  top: 100px;
}

figure.effect-goliath p {
  width: 100%;
  text-transform: none;
  font-size: 90%;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,50px,0);
  transform: translate3d(0,50px,0);
}

figure.effect-goliath:hover img {
  -webkit-transform: translate3d(0,-80px,0);
  transform: translate3d(0,-80px,0);
}

figure.effect-goliath:hover h2 {
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}

figure.effect-goliath:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

.grid a {
  color: white;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
/*  max-width: 480px;
  max-height: 360px;*/
  width: 100%;
  height: auto;
  /*background: rgb(88, 153, 226);*/
  text-align: center;
  /*cursor: pointer;*/
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  box-shadow: 0px 5px 5px rgba(20, 20, 20, 0.3);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.grid figure:hover > img {
  opacity: 0.6;
}

.grid figure:hover h2 {
  opacity: 1;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-weight: bold;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}
